$primary-color: #313237;
$secondary-color: #89939a;
$accent-color: #eb5757;
$success-color: #27ae60;
$border-section-color: #e2e6e9;
$input-border-color: #b4bdc4;
$input-search-active: #fafbfc;

$transition-duration: 300ms;

$header-height: 64px;
$border-btn-color: #b4bdc4;
