.categories {
  &__title {
    @include h3;
    margin-top: 24px;
    margin-bottom: 4px;
  }

  &__link {
    display: block;
    color: $primary-color;

    &:hover {
      .categories__img {
        transform: scale(1.1);
      }
    }
  }

  &__photo {
    display: flex;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    transition: transform .3s;
  }

  &__count {
    font-size: 14px;
    color: $secondary-color;
    line-height: 1.5
  }
}
