.categories {
  &__header {
    @include h2;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    @media (max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }
}
