.product {
  &__button-favorite {
    height: 40px;
    flex-basis: 40px;
    background-color: white;
    background-image: url(../img/icons/heart-empty.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    transition: background-image $transition-duration;
    border: 1px solid $input-border-color;

    &:hover {
      border: 1px solid $border-section-color;
      background-image: url(../img/icons/heart-full.svg);
      cursor: pointer;
    }

    &--active {
      background-color: $accent-color;
    }
  }
}
