@import "../styles/variables";

.nav {
  &__header-list {
    display: flex;

    @media (max-width: 1024px) {
      position: fixed;
      flex-direction: column;
      align-items: center;
      width: 70%;
      max-width: 400px;
      height: 100vh;
      top: 0;
      left: 0;
      background: $primary-color;
      transform: translateX(-100%);
      transition: 0.5s ease-in-out;
      z-index: 2;

      &--active {
        transform: translateX(0);
      }
    }

    @media (max-width: 560px) {
      width: 100%;
    }
  }

  &__header-item:not(:last-child) {
    margin-right: 64px;

    @media (max-width: 1200px) {
      margin-right: 34px;
    }

    @media (max-width: 1024px) {
      margin-right: 0;
    }
  }

  &__header-item:first-child {
    @media (max-width: 1024px) {
      margin-top: 100px;
    }
  }

  &__header-item {
    @media (max-width: 1024px) {
      width: 100%;
      margin-top: 50px;
      text-align: center;
    }
  }

  &__header-link {
    display: block;
    line-height: $header-height;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-color;
    @include hover(color, $primary-color, 0.3);

    @media (max-width: 1024px) {
      @include hover(color, #fff, 0.3);
    }

    &--active {
      position: relative;
      color: $primary-color;

      @media (max-width: 1024px) {
        color: #fff;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background-color: $primary-color;

        @media (max-width: 1024px) {
          left: 30%;
          right: 30%;
          background-color: #fff;
        }
      }
    }
  }
}
