@import "../styles/variables";
@import "../styles/mixins";

.product {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $border-section-color;
  @include hover(box-shadow, inset 0 0 10px 5px rgba(180,189,196,0.5), 0.3);
  cursor: pointer;

  &__image {
    object-fit: cover;
    width: 80%;
    margin: 20px auto 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &__divider {
    margin-top: 8px;
    height: 1px;
    width: 100%;
    background-color: $border-section-color;
  }

  &__actions {
    display: flex;
    margin-top: 16px;
    align-items: flex-end;
    flex-grow: 2;
  }
}
