@import "../styles/variables";

.products {
  &__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: $secondary-color;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 40px;
    margin-bottom: 40px;
    margin-top: 24px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 360px) {
      grid-template-columns: 1fr;
    }
  }

  &__filters {
    display: flex;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__filter {
    margin-right: 16px;
  }

  &__filter-title {
    margin-top: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $secondary-color;
  }

  &__dropdown {
    position: relative;
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid $input-border-color;
    outline: none;
    cursor: pointer;

    &::before {
      content: " ";
      position: absolute;
      background: url("../img/icons/arrow-down.svg") no-repeat;
      background-position: center center;
      top: 0;
      right: 5px;
      width: 16px;
      height: 40px;
      transform: rotate(0);
      transition: transform $transition-duration;
    }

    &--active {
      border-color: $primary-color;

      &::before {
        transform: rotate(180deg);
      }
    }

    &:hover {
      border-color: $primary-color;
    }
  }

  &__dropdown-list {
    display: block;
    position: absolute;
    margin-top: 4px;
    opacity: 0;
    box-sizing: border-box;
    transition: opacity $transition-duration;
    border: 1px solid $input-border-color;
    width: 180px;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    z-index: 2;
    pointer-events: none;

    &--active {
      opacity: 1;
      pointer-events: initial;
    }
  }

  &__dropdown-item {
    padding: 10px;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    transition: background-color $transition-duration;

    &:hover {
      background-color: $input-search-active;
    }

    &--active {
      font-weight: 700;
      background-color: $input-search-active;
    }
  }

  &__search-title {
    font-size: 24px;
  }

  &__search-subtitle {
    margin-top: 20px;
  }

  &__search-query {
    font-weight: 700;
  }

  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 20vh;
    background: url("../img/icons/person-empty-dolly.svg") no-repeat;
    background-position: center center;
    background-size: 50px 50px;
    color: $secondary-color;
  }
}
