@import "./styles/fonts";
@import "./styles/reset";
// @import "./styles/variables";
@import "./styles/mixins";
@import "./components/Header";
@import "./components/Logo";
@import "./components/Nav";
@import "./components/Favorites";
@import "./components/Cart";
@import "./components/Footer";

html {
  font-family: Mont, Arial, Helvetica, sans-serif;
  color: $primary-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}