@import "./styles/fonts";
@import "./styles/reset";
// @import "./styles/variables";
@import "./styles/mixins";
@import "./components/Header";
@import "./components/Logo";
@import "./components/Nav";
@import "./components/Favorites";
@import "./components/Cart";
@import "./components/BannerSlider";
@import "./components/Categories";
@import "./components/Category";
@import "./components/Products–°arousel";
@import "./components/Footer";

html {
  @include scrollbar-style;
  font-family: Mont, Arial, Helvetica, sans-serif;
  color: $primary-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding-bottom: 80px;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
